<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contact-form</title>
</head>
<body>
<div class="container">

    <form>
        <div class="row" style="margin-top: 20px;">
            <h1>Contact Form</h1>
        </div>
        <div class="form-row" style="margin-top: 20px;">
            <div class="col-md-5">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
            <div class="col-md-5">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
            </div>
        </div>
        <div class="form-row" style="margin-top: 20px;">
            <div class="form-group col-md-3">
                <label for="inputDate">Date of Birth</label>
                <input type="date" class="form-control" id="inputDate">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <h3>Phone Number</h3>
        </div>
        <div class="form-row" style="margin-top: 20px;">
            <div class="form-group col-md-2">
                <label for="inputTypePhone">Phone Number type</label>
                <select id="inputTypePhone" class="form-control">
                    <option selected>Choose...</option>
                    <option>Home</option>
                    <option>Work</option>
                    <option>Mobile</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputCode">Code</label>
                <select id="inputCode" class="form-control">
                    <option selected>Choose...</option>
                    <option>49</option>
                    <option>7</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputNumber">Phone Number</label>
                <input type="text" class="form-control" id="inputNumber">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <h3>Address</h3>
        </div>
        <div class="form-row" style="margin-top: 20px;">
            <div class="form-group col-md-10">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
        </div>
        <div class="form-row" style="margin-top: 20px;">
            <div class="form-group col-md-4">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-3">
                <label for="inputCountry">Country</label>
                <input type="text" class="form-control" id="inputCountry">
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">ZIP</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="mx-auto">
            <input class="btn btn-primary" type="reset" value="Reset" style="width: 100px;">
            <input class="btn btn-primary" type="submit" value="Submit" style="width: 100px;">
            </div>
        </div>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>