<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Contact</title>
</head>
<body>
<div>
    <h2>Name</h2>
    <p th:text="${contact.name}"></p>
</div>
<div>
    <h2>Last Name</h2>
    <p th:text="${contact.lastName}"></p>
</div>
<div>
    <h1>Edit Form</h1>
    <form action="#" th:action="@{/contact}" th:object="${contact}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <p>New Name: <input type="text" th:field="*{name}"/></p>
        <p>New Last Name: <input type="text" th:field="*{lastName}"/></p>
        <p><input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/>
        </p>
    </form>
</div>
</body>
</html>